.navbar .navbar-item {
	color: #999;
}

.navbar .navbar-burger {
	color: #a9abac;
}

.navbar .navbar-burger span {
	height: 2px;
}

.hero-body .title {
	font-family: "Montserrat", sans-serif;
	color: #444f60;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar-menu .navbar-end a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 767px) {
	.landing-caption {
		text-align: center;
	}

	.navbar-menu .navbar-item {
		text-align: center !important;
	}

	.navbar-menu .navbar-item .signup-button {
		width: 100% !important;
	}
}
