/*Copyright hardinfo2 project, written by hwspeedy, 2024*/
/*License: GPL2+*/

/*fa*/
@font-face{font-family:'FontAwesome';src:url('/fonts/fontawesome-webfont.eot');src:url('/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('/fonts/fontawesome-webfont.woff2') format('woff2'),url('/fonts/fontawesome-webfont.woff') format('woff'),url('/fonts/fontawesome-webfont.ttf') format('truetype'),url('/fonts/fontawesome-webfont.svg?#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}

.fa-github:before{content:"\f09b"}
.fa-download:before{content:"\f019"}
.fa-bars:before{content:"\f0c9"}
.fa-comments:before{content:"\f086"}
.fa-caret-down:before{content:"\f0d7"}
/**/


body {
    margin:0;
    background-image: url('/img/bg.png');
    background-repeat: repeat;
    background-size: auto;
}
canvas {
    background: white;
}
.toplogo {
    position: relative;
    max-width: 1000px;
    margin: auto;
    font-size: 60px;
}
.topdesc {
    position: relative;
    max-width: 1000px;
    margin: auto;
    font-size: 16px;
    padding: 0px;
}
.buttons button {
    font-size: 22px;
    border-radius: 8px;
    background-color: #333;
    color: white;
    padding: 10px 10px;
}
.buttons button:hover {
    font-size: 22px;
    border-radius: 8px;
    background-color: #555;
    color: white;
    padding: 10px 10px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

#langugage {
    float: right;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.notactive {
    display: none;
}

@media screen and (max-width: 1100px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
	display: none;
    }
    .topnav a.icon {
	float: right;
	display: block;
    }
}

@media screen and (max-width: 1100px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
	position: absolute;
	right: 0;
	top: 0;
    }
    .topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
	display: block;
	width: 100%;
	text-align: left;
    }
}


body { text-align: center; padding: 20px; font: 20px Helvetica, sans-serif; color: #000; }
@media (min-width: 768px){body{ padding-top: 10px; }}
h1 { font-size: 24px; color:blue; }
article { display: block; text-align: left; max-width: 800px; margin: 0 auto; }
a { color: #dc8100; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
#ip { color:gray; font-size:10px;}
c { text-align:center;}

* {box-sizing:border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.mySlides {
    display: none;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.tablecenter {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    font-size: 12px;
    border: 1px solid black;
    border-collaps: collapse;
    border-spacing: 0px;
}
.tableleft {
    border: 1px solid black;
    border-collaps: collapse;
    text-align: left;
    border-spacing: 0px;
}
.left {
    text-align: left;
}

.greentext {
#    background-color: #ddd;
    color: green;
}
.redtext {
#    background-color: #ddd;
    color: red;
}
.yellowtext {
#    background-color: #ddd;
    color: yellow;
}
